animate(name, duration, timing = linear, iteration = infinite)
  -webkit-animation-name: name
  -moz-animation-name: name
  animation-name: name

  -webkit-animation-duration: duration;
  -moz-animation-duration: duration;
  animation-duration: duration;

  -webkit-animation-timing-function: timing;
  -moz-animation-timing-function: timing;
  animation-timing-function: timing;

  -webkit-animation-iteration-count: iteration;
  -moz-animation-iteration-count: iteration;
  animation-iteration-count: iteration;

@font-face {
  font-family: NokiaCellphone;
  src: url(./fonts/nokiafc22.ttf);
  font-weight: 300;
}

html {
  background: black;
  color: white;
}

body {
  padding: 0;
  font: 16px NokiaCellphone, Monaco, monospace;
  -webkit-font-smoothing: none;
  font-smooth: never;
  width: 640px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  font-weight: 300;
}

#wrapper {
  position: relative;
  height: 460px;
  background: #1a1d1f;
}

#message {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: white;
  border: 3px solid #eee;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 100px;
  color: #333;
  padding: 14px;
}


#continue {
  position: absolute;
  bottom: 4px;
  right: 4px;
  color: #aaa;
  font-size: 8px;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

#newname {
  width: 75%;
  margin: 10px auto;
  display: block;
  padding: 10px;
  font: 24px NokiaCellphone, Monaco, monospace;
  -webkit-font-smoothing: none;
  font-smooth: never;
  text-align: center;
  color: #333;
  border: none;
}

#nameinsert {
  text-align: center;
  padding-top: 100px;
}

#nameinsert p {
  text-shadow: 2px 2px 0 #333;
}

a {
  padding: 10px;
  box-shadow: 2px 2px 0 #666;
  background: #f2d666;
  color: #333;
  text-shadow: none;
}

a:hover {
  background: #ec9c12;
  cursor: pointer;
}

/*a:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: none;
}*/

.vt10 { margin-top: 10px; }
.vt20 { margin-top: 20px; }

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/stars.gif) repeat;
}

@-webkit-keyframes fromtop {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0 -459px;
  }
}

@keyframes bounce
  0%
    margin-top 0px
  25%
    margin-top 2px
  50%
    margin-top 4px
  75%
    margin-top 2px
  100%
    margin-top 0px

.stars
  animate: fromtop, 20s, linear

.earth
  animate: bounce, 2s, ease
  position absolute
  top 50%
  left 50%
  width 32px
  height 32px
  background url(../images/earth.gif)
