@font-face {
  font-family: NokiaCellphone;
  src: url("./fonts/nokiafc22.ttf");
  font-weight: 300;
}
html {
  background: #000;
  color: #fff;
  overflow-y: scroll;
}
body {
  padding: 0;
  font: 16px NokiaCellphone, Monaco, monospace;
  -webkit-font-smoothing: none;
  font-smooth: never;
  width: 640px;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-size: 32px;
  font-weight: 300;
}
#wrapper {
  position: relative;
  height: 460px;
  background: #1a1d1f;
}
#content {
  height: 460px;
  width: inherit;
}
#debug {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 640px;
  margin: 0 auto;
}
#message {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: auto;
  color: #333;
  background: #ddd;
  padding: 14px;
  border-bottom: 20px solid #000;
}
#messagehitbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}
#continue {
  float: right;
  color: #888;
  font-size: 8px;
}
p {
  margin: 0;
}
.hidden {
  display: none;
}
#newname {
  width: 75%;
  margin: 10px auto;
  display: block;
  padding: 10px;
  font: 24px NokiaCellphone, Monaco, monospace;
  -webkit-font-smoothing: none;
  font-smooth: never;
  text-align: center;
  color: #333;
  border: none;
}
#choices,
.choices {
  text-align: center;
  margin-top: 100px;
  background: rgba(0,0,0,0.50);
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
}
#choices p,
.choices p {
  text-shadow: 2px 2px 0 #333;
}
a {
  padding: 10px;
  box-shadow: 2px 2px 0 #666;
  background: #ec9c12;
  color: #333;
  text-shadow: none;
}
a:hover {
  background: #f2d666;
  cursor: pointer;
}
/*a:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: none;
}*/
.vt10 {
  margin-top: 10px;
}
.vt20 {
  margin-top: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/stars.gif") repeat;
}
.stars {
  -webkit-animation-name: fromtop;
  -moz-animation-name: fromtop;
  animation-name: fromtop;
  -webkit-animation-duration: 40s;
  -moz-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.earth {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 32px;
  height: 36px;
  background: url("../images/earth.gif");
}
.ggcomp {
  background: url("../images/ggcomp.gif");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gghouse {
  background: url("../images/gghouse.gif");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.tinyworld {
  background: url("../images/tinyworld.gif");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
::-webkit-scrollbar {
  width: 12px;
  background: #aaa;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.30);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.50);
  background: #fff;
  box-shadow: 0 0 3px #000;
}
.ll {
  color: #3f5567;
}
.gq {
  color: #d45555;
}
.meteor {
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  background: url("../images/meteor.gif");
}
.tentacles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/tentacles.gif");
}
.monster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/monster.gif");
}
.monsterworld {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/monsterworld.gif");
}
.bro {
  position: absolute;
  width: 227px;
  height: 133px;
  background: url("../images/bro.gif");
}
.yourbroim {
  position: absolute;
  width: 66px;
  height: 75px;
  background: url("../images/llim.gif") no-repeat top left;
}
.u {
  position: absolute;
  width: 95px;
  height: 182px;
  top: 0;
  left: 0;
  background: url("../images/u.gif") no-repeat;
}
.u.small {
  width: 48px;
  height: 91px;
  background: url("../images/usmall.gif") no-repeat;
}
.bullet {
  position: absolute;
  background: url("../images/bullet.gif") center center no-repeat;
  width: 30px;
  height: 30px;
}
.telescope {
  position: absolute;
  background: url("../images/telescope.gif");
  width: 103px;
  height: 88px;
  left: 415px;
  top: 211px;
}
.scythe {
  position: absolute;
  background: url("../images/scythe.gif");
  width: 130px;
  height: 83px;
}
#play1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/you.gif");
}
.yourroom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/yourroom.gif");
}
.yourroom.bright {
  background-image: url("../images/yourroombright.gif");
}
.faux_link {
  cursor: pointer;
}
#scene1 .yourbroim {
  top: 200px;
  left: 440px;
}
#scene1 .lightswitch {
  position: absolute;
  top: 0;
  left: 357px;
  width: 203px;
  height: 141px;
}
#scene1 .doorswitch {
  position: absolute;
  top: 71px;
  left: 126px;
  width: 21px;
  height: 42px;
  background: url("../images/buttons/switchdown.gif");
}
#scene1 .doorswitch.on {
  background-image: url("../images/buttons/switchup.gif");
}
#scene1 .door {
  position: absolute;
  left: 37px;
  top: 7px;
  width: 85px;
  height: 236px;
}
#scene2 .corridor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/corridor.gif");
}
#scene2 .north {
  top: 161px;
  left: 265px;
}
#scene2 .south {
  top: 357px;
  left: 258px;
}
#scene2 .west {
  top: 228px;
  left: 152px;
}
#scene2 .east {
  top: 228px;
  left: 357px;
}
.north {
  position: absolute;
  background: url("../images/buttons/north.gif") no-repeat;
  width: 45px;
  height: 78px;
}
.east {
  position: absolute;
  background: url("../images/buttons/east.gif") no-repeat;
  width: 69px;
  height: 79px;
}
.west {
  position: absolute;
  background: url("../images/buttons/west.gif") no-repeat;
  width: 69px;
  height: 79px;
}
.south {
  position: absolute;
  background: url("../images/buttons/south.gif") no-repeat;
  width: 71px;
  height: 89px;
}
.stairs {
  position: absolute;
  background: url("../images/stairs.gif") no-repeat;
  width: 101px;
  height: 110px;
}
#kitchen {
  background: url("../images/kitchen.gif");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#kitchen .south {
  top: 357px;
  left: 258px;
}
#kitchen .west {
  left: 21px;
  top: 277px;
}
#kitchen .east {
  left: 524px;
  top: 62px;
}
#kitchen .u {
  left: 340px;
  top: 254px;
}
#kitchen .sink {
  position: absolute;
  top: 220px;
  left: 0;
  width: 313px;
  height: 160px;
}
#kitchen .stairs {
  position: absolute;
  background: url("../images/sinkstairs.gif");
  width: 162px;
  height: 116px;
  left: 103px;
  top: 283px;
}
#kitchen .butcher {
  position: absolute;
  top: 62px;
  left: 239px;
  width: 43px;
  height: 135px;
  background: url("../images/butcher.gif");
}
#kitchen .gun {
  position: absolute;
  top: 11px;
  left: 77px;
  width: 54px;
  height: 210px;
  background: url("../images/gun.gif");
}
#kitchen .hammer {
  position: absolute;
  top: 101px;
  left: 151px;
  width: 44px;
  height: 73px;
  background: url("../images/hammer.gif");
}
#dooroutside {
  background: url("../images/dooroutside.gif");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#dooroutside .south {
  top: 357px;
  left: 258px;
}
#dooroutside .planks {
  position: absolute;
  top: 29px;
  left: 43px;
  width: 343px;
  height: 330px;
  background: url("../images/planks.gif");
}
#dooroutside .door {
  position: absolute;
  left: 410px;
  height: 460px;
  width: 230px;
  top: 0;
}
#assembly {
  background: url("../images/assembly.gif");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#assembly .south {
  top: 357px;
  left: 258px;
}
#assembly .momswitch {
  position: absolute;
  top: 240px;
  left: 13px;
  width: 110px;
  height: 125px;
}
#assembly .assemblyswitch {
  position: absolute;
  top: 110px;
  left: 90px;
  width: 21px;
  height: 42px;
  background: url("../images/buttons/switchdown.gif");
}
#assembly .assemblyswitch.on {
  background: url("../images/buttons/switchup.gif");
}
#assembly .stairs {
  left: 98px;
  top: 309px;
}
#assembly .brodie {
  position: absolute;
  top: 250px;
  left: 0px;
  width: 300px;
  height: 250px;
  background: url("../images/brodie.gif");
  -webkit-animation-name: fadeinout;
  -moz-animation-name: fadeinout;
  animation-name: fadeinout;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#assembly .firegun {
  position: absolute;
  top: 231px;
  left: 242px;
  width: 212px;
  height: 180px;
  background: url("../images/firegun.gif");
}
#outsideday {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/gghouse.gif");
}
#outsideday .south {
  right: 45px;
  bottom: 35px;
}
#outsideday .west {
  right: 190px;
  top: 180px;
}
#outsideday .u {
  top: 200px;
  right: 100px;
  left: auto;
}
#outsidenight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#outsidenight .underside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  background: url("../images/underside.gif") top center no-repeat;
  height: 318px;
}
#outsidenight .north {
  right: 45px;
  top: 35px;
}
#outsidenight .you {
  position: absolute;
  width: 48px;
  height: 91px;
  right: 66px;
  top: 192px;
}
#outsidenight .generator {
  position: absolute;
  bottom: 145px;
  left: 170px;
  width: 260px;
  height: 235px;
}
#outsidefakesun {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/undersideday.gif");
}
#outsidefakesun .sky {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 220px;
  width: inherit;
}
#outsidefakesun .north {
  right: 45px;
  top: 35px;
}
#outsidefakesun .you {
  position: absolute;
  width: 48px;
  height: 91px;
  right: 66px;
  top: 192px;
}
#outsidefakesun .generator {
  position: absolute;
  bottom: 0;
  left: 170px;
  width: 260px;
  height: 220px;
}
#outsidefakesun .switch {
  position: absolute;
  bottom: 180px;
  left: 390px;
  height: 21px;
  width: 42px;
  background: url("../images/buttons/switchoff90deg.gif");
}
#outsidefakesun .switch.on {
  background-image: url("../images/buttons/switchon90deg.gif");
}
#outsidefakesun .switchdetail {
  background: url("../images/switchdetail.gif");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#broroom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/broroom.gif");
}
#broroom .bro {
  left: 88px;
  top: 279px;
}
#broroom .yourbroim {
  left: 468px;
  top: 152px;
}
#broroom .east {
  bottom: 14px;
  right: 14px;
}
#broroom .bullet {
  left: 91px;
  top: 379px;
}
#broroom .scythe {
  left: 338px;
  top: 355px;
}
#showcredits {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  padding-top: 100px;
  text-align: center;
}
#showcredits a {
  background: none;
  text-shadow: none;
  box-shadow: none;
  color: #78afed;
  text-decoration: underline;
  padding: 0;
}
@-moz-keyframes fadeinout {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeinout {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeinout {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes fromtop {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0 -459px;
  }
}
@-webkit-keyframes fromtop {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0 -459px;
  }
}
@-o-keyframes fromtop {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0 -459px;
  }
}
@-ms-keyframes fromtop {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0 -459px;
  }
}
@keyframes fromtop {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0 -459px;
  }
}
@-moz-keyframes bounce {
  0% {
    margin-top: 0px;
  }

  25% {
    margin-top: 4px;
  }

  50% {
    margin-top: 8px;
  }

  75% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}
@-webkit-keyframes bounce {
  0% {
    margin-top: 0px;
  }

  25% {
    margin-top: 4px;
  }

  50% {
    margin-top: 8px;
  }

  75% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}
@-o-keyframes bounce {
  0% {
    margin-top: 0px;
  }

  25% {
    margin-top: 4px;
  }

  50% {
    margin-top: 8px;
  }

  75% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}
@-ms-keyframes bounce {
  0% {
    margin-top: 0px;
  }

  25% {
    margin-top: 4px;
  }

  50% {
    margin-top: 8px;
  }

  75% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}
@keyframes bounce {
  0% {
    margin-top: 0px;
  }

  25% {
    margin-top: 4px;
  }

  50% {
    margin-top: 8px;
  }

  75% {
    margin-top: 4px;
  }

  100% {
    margin-top: 0px;
  }
}
