stretch(top = 0, left = 0, right = 0, bottom = 0)
  position absolute
  top top
  left left
  right right
  bottom bottom

animate(name, duration, timing = linear, iteration = infinite)
  -webkit-animation-name: name
  -moz-animation-name: name
  animation-name: name

  -webkit-animation-duration: duration;
  -moz-animation-duration: duration;
  animation-duration: duration;

  -webkit-animation-timing-function: timing;
  -moz-animation-timing-function: timing;
  animation-timing-function: timing;

  -webkit-animation-iteration-count: iteration;
  -moz-animation-iteration-count: iteration;
  animation-iteration-count: iteration;

@font-face {
  font-family: NokiaCellphone;
  src: url(./fonts/nokiafc22.ttf);
  font-weight: 300;
}

html {
  background: black;
  color: white;
}

body {
  padding: 0;
  font: 16px NokiaCellphone, Monaco, monospace;
  -webkit-font-smoothing: none;
  font-smooth: never;
  width: 640px;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 32px;
  font-weight: 300;
}

#wrapper {
  position: relative;
  height: 460px;
  background: #1a1d1f;
}

#content
  height 460px
  width inherit

#debug
  stretch(top: auto)
  width 640px
  margin 0 auto

#message {
  stretch(top: 100%, bottom: auto)
  color #333
  background #ddd
  padding: 14px;
}

#messagehitbox
  stretch()
  z-index 1

#continue {
  float right
  color: #888;
  font-size: 8px;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

#newname {
  width: 75%;
  margin: 10px auto;
  display: block;
  padding: 10px;
  font: 24px NokiaCellphone, Monaco, monospace;
  -webkit-font-smoothing: none;
  font-smooth: never;
  text-align: center;
  color: #333;
  border: none;
}

.choices {
  text-align: center;
  margin-top: 100px
  background rgba(0, 0, 0, .5)
  stretch(top: auto)
}

.choices p {
  text-shadow: 2px 2px 0 #333;
}

a {
  padding: 10px;
  box-shadow: 2px 2px 0 #666;
  background: #ec9c12;
  color: #333;
  text-shadow: none;
}

a:hover {
  background: #f2d666;
  cursor: pointer;
}

/*a:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: none;
}*/

.vt10 { margin-top: 10px; }
.vt20 { margin-top: 20px; }
.pt20 { padding-top: 20px; }
.pb20 { padding-bottom: 20px; }

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/stars.gif) repeat;
}

@-webkit-keyframes fromtop {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0 -459px;
  }
}

@keyframes bounce
  0%
    margin-top 0px
  25%
    margin-top 4px
  50%
    margin-top 8px
  75%
    margin-top 4px
  100%
    margin-top 0px

.stars
  animate: fromtop, 40s, linear

.earth
  animate: bounce, 4s, ease
  position absolute
  top 35%
  left 50%
  width 32px
  height 36px
  background url(../images/earth.gif)

.ggcomp
  background: url(../images/ggcomp.gif)
  stretch()

.gghouse
  background: url(../images/gghouse.gif)
  stretch()

.tinyworld
  background: url(../images/tinyworld.gif)
  stretch()

::-webkit-scrollbar {
    width: 12px;
    background #aaa
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background white
    box-shadow 0 0 3px black
}

.ll
  color #3f5567

.gq
  color #d45555

.meteor
  stretch(left: auto, top: auto)
  background url(../images/meteor.gif)

.tentacles
  stretch()
  background url(../images/tentacles.gif)

.monster
  stretch()
  background url(../images/monster.gif)

.monsterworld
  stretch()
  background url(../images/monsterworld.gif)

#play1
  stretch()
  background url(../images/you.gif)

.yourroom
  stretch()
  background url(../images/yourroom.gif)
  &.bright
    background-image url(../images/yourroombright.gif)

.faux_link
  cursor pointer

#scene1
  .yourbroim
    position absolute
    top 200px
    left 440px
    width 66px
    height 75px
    background url(../images/llim.gif) no-repeat top left
  .lightswitch
    position absolute
    top 0
    left 357px
    width 203px
    height 141px
  .doorswitch
    position absolute
    top 71px
    left 126px
    width 21px
    height 42px
    background url(../images/switchdown.gif)
    &.on
      background-image url(../images/switchup.gif)

  .door
    position absolute
    left 37px
    top 7px
    width 85px
    height 236px

#scene2
  .corridor
    stretch()
    background url(../images/corridor.gif)
  .north
    top 161px
    left 265px
  .south
    top 357px
    left 258px
  .west
    top 228px
    left 152px
  .east
    top 228px
    left 357px

// arrows
.north
  position absolute
  background url(../images/buttons/north.gif) no-repeat
  width 45px
  height 78px

.east
  position absolute
  background url(../images/buttons/east.gif) no-repeat
  width 69px
  height 79px

.west
  position absolute
  background url(../images/buttons/west.gif) no-repeat
  width 69px
  height 79px

.south
  position absolute
  background url(../images/buttons/south.gif) no-repeat
  width 71px
  height 89px

#kitchen
  background url(../images/kitchen.gif)
  stretch()

  .south
    top 357px
    left 258px
  .west
    left 21px
    top  277px
  .east
    left 524px
    top  62px
